{{#if prev}}
<nav class="pagination" role="pagination">
	<div class="inner">
			<a class="pagination-next" href="{{page_url prev}}"><i class="ic ic-arrow-left"></i> <span class="pagination-label">Newer Posts</span></a>
			<div class="clear"></div>
	</div>
</nav>
{{else}}

			{{#if next}}
			<nav class="pagination" role="pagination">
				<div class="inner">
					<a class="pagination-prev" href="{{page_url next}}"><span class="pagination-label">Older Posts</span> <i class="ic ic-arrow-right"></i></a>
					<div class="clear"></div>
	</div>
</nav>
			{{/if}}
		{{/if}}
		